# app config file name
appConfigPath: "app_config.yaml"
# template excel file name
templateFilePath: "template.xlsx"
# output excel file name
resultFilePath: "result.xlsx"

#
# define the connecting organizations
# 
# Connecting to the org requires creating an OAuth connection definition for the client credentials flow in the External Client Apps setting.
# If more than one org is defined, the metadata for each org's profile and permission sets is retrieved and compared.
org:
  - name: (ANY ORGANIZATION NAME 1)
    instanceUrl: "https://(YOUR DOMAIN).my.salesforce.com"
    apiVersion : "65.0"
    clientId: "(YOUR CLIENT ID)"
    clientSecret: "(YOUR CLIENT SECRET)"
#  - name: (ANY ORGANIZATION NAME 2)
#    instanceUrl: "https://(YOUR DOMAIN).my.salesforce.com"
#    apiVersion : "65.0"
#    clientId: "(YOUR CLIENT ID)"
#    clientSecret: "(YOUR CLIENT SECRET)"

# The following SOAP login settings are valid up to API version 64.0 and until the Summer27 release.
#  - name: (ANY ORGANIZATION NAME 1)
#    loginUrl: "https://test.salesforce.com"
#    apiVersion : "64.0"
#    userName: "(YOUR USER NAME)"
#    password: "(YOUR USER PASSWORD)"
#  - name: (ANY ORGANIZATION NAME 2)
#    loginUrl: "https://login.salesforce.com"
#    apiVersion : "64.0"
#    userName: "(YOUR USER NAME)"
#    password: "(YOUR USER PASSWORD)"

#
# define the target profiles and permission sets
#
# Specify the profile name and permission set name (label) in "name".
# For permission set, "ps" must be set to true.
#
target:
  - name: "CustomAdmin"
  - name: "CustomStandardUser"
  - name: "SalesUser"
    ps: true

#
# define the types of setting to be output and the output order
#
# Select the target setting type from the following.
#   - ObjectPermission
#   - FieldLevelSecurity
#   - LayoutAssignment
#   - RecordTypeVisibility
#   - UserPermission
#   - ApplicationVisibility
#   - TabVisibility
#   - ApexClassAccess
#   - ApexPageAccess
#   - CustomPermission
#   - CustomMetadataTypeAccess
#   - CustomSettingAccess
#   - LoginIpRange
#   - LoginHour
#   - SessionSetting
#   - PasswordPolicy
#
settingType: [
  "ObjectPermission",
  "FieldLevelSecurity",
  "LayoutAssignment",
  "RecordTypeVisibility",
  "UserPermission",
  "ApplicationVisibility",
  "TabVisibility",
  "ApexClassAccess",
  "ApexPageAccess",
  "CustomPermission",
  "CustomMetadataTypeAccess",
  "CustomSettingAccess",
  "LoginIpRange",
  "LoginHour",
  "SessionSetting",
  "PasswordPolicy"
]

#
# define the target objects
#
# If this parameter is not defined, All objects included in the profiles/permission sets are targets.
#
object: [
  Account, 
  Contact, 
  Opportunity, 
  User, 
]

